body{
  text-align: center;
}

table.othello-board{
  margin: 80px auto;
  background: #1B5E20;
  border: 10px solid #000000;
  border-collapse: collapse;
}

td.othello-board{
  width: 70px;
  height: 70px;
  border: 2px solid #000000;
}

.stone{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}

.black{
  background: black;
}

.white{
  background: white;
}

.green{
  background: #1B5E20;
}

.horizontal{
  display: flex;
  justify-content: center;
}

.status-inner{
  padding: 0px 20px 0;
  border: 2px solid black;
}

#status-black{
  background:black;
  color: white;
}

#status-white{
  background: white;
  color: black;
}