body{
  text-align: center;
}

table.othello-board{
  width: 80vmin;
  height: 80vmin;
  padding-top: 100%;
  margin: 20px auto;
  background: #1B5E20;
  border: 10px solid #000000;
  border-collapse: collapse;
}

td.othello-board{
  width: 10%;
  height: auto;
  border: 2px solid #000000;
}

.stone{
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: inline-block;
}

.black{
  background: black;
}

.white{
  background: white;
}

.green{
  background: #1B5E20;
}

.placeable{
  width: 30%;
  height: 30%;
  background: red;
}

.horizontal{
  display: flex;
  justify-content: center;
}

.status-inner{
  padding: 0px 20px 0px;
  border: 2px solid black;
}

#status-black{
  background:black;
  color: white;
}

#status-white{
  background: white;
  color: black;
}